h1 {
  font-size: 5.5rem;
  font-weight: 300;
}

a {
  font-weight: 300;
  font-style: normal;
  color: @linkC;
  text-decoration: none;

  &:hover {
    font-style: normal;
    text-decoration: none;
  }
}
