h1 {
  font-size: 5.5rem;
  font-weight: 300;
}
h2 {
  font-size: 4.5rem;
  font-weight: 300;
}

h3 {
  font-size: 3.5rem;
  font-weight: 300;
}

h4 {
  font-size: 2.5rem;
  font-weight: 300;
}

a {
  font-weight: 300;
  font-style: normal;
  color: @linkC;
  text-decoration: none;
  opacity: .7;
  .transition(opacity @transition);

  &:hover {
    font-style: normal;
    text-decoration: none;
    opacity: 1;
  }
}
