@linkC: #0055bb;
@fontDefColor: #303030;
@bgColor: #fff;
@borders: #f3f3f3;
@borderR: .3rem;
@navHeight: 5rem;
@transition: 400ms ease-out;

@import "./imports/functions";
@import "./imports/layout";
@import "./imports/typography";
@import "./imports/drawer";